/0-1_10oversample.ipynb
/072.ipynb
/11koversample.ipynb
/77binary.ipynb
/77binaryweight.ipynb
/99.ipynb
/Ceng464Project (1) (1).ipynb
/Ceng464Project (1).ipynb
/Ceng464Project.ipynb
/Course Project - Data for Classification - Electric Vehicles.xls
/Latest-Copy1.ipynb
/Latest-Copy2.ipynb
/Latest-Copy3.ipynb
/Latest.ipynb